.drag {
    width:70px;
    height:50px;
    background-color:white;
    transition:all 0.1s;
}
.drag-container {
    padding:8px;
    height:300px;
    border:solid 2px white;
}
.drag-label {
    width:70px;
    position:absolute;
    left:0px;
    text-align:center;
    padding:8px;
    font-family:'Montserrat';
}